
body {
	font-family: "Roboto", sans-serif;
}
h1 {
	color: rgb(2, 132, 130);
}
h2 {
	color: #ffd700;
}
h1,h2,p,footer {
	text-align: center;
}
.board {
	height: 50%;
	display: inline-block;
	text-align: center;
}
.card {
	height: 200px;
	width: 150px;
	border: 1px solid black;
	background: yellow;
	border-radius: 10px;
	float: left;
	margin: 4%;

}
.card:hover {
	background: gold;
	border: 2px solid black;
	height: 198px;
	width: 148px;
}
.name {
	color: #ff0000;
}
nav{
	background-color: #808080;
}
nav a{
	background-color: #ffbf00;
	color: white;
	padding: 35px;
	display: block;
	float: left;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font-size: 0;
}
img {
	height: 200px;
	width: 150px;
}
.controls {
	text-align: center;
}


