
body {
	font-family: "Roboto", sans-serif;
}
h1 {
	color: rgb(2, 132, 130);
}
h2 {
	color: #ffd700;
}
h1,h2,p,footer {
	text-align: center;
}
.board {
	height: 50%;
	display: inline-block;
	text-align: center;
}
.card {
	height: 200px;
	width: 150px;
	border: 1px solid black;
	background: yellow;
	background-image: url('http://opengameart.org/sites/default/files/styles/watermarked/public/card%20back%20orange.png');
	background-size: 150px 200px;
	border-radius: 10px;
	float: left;
	margin: 4%;

}
.card:hover {
	background: gold;
	background-image: url('http://opengameart.org/sites/default/files/styles/watermarked/public/card%20back%20blue.png');
	background-size: 150px 200px;
	border: 2px solid black;
	height: 198px;
	width: 148px;
}
.name {
	color: #ff0000;
}
nav{
	background-color: #808080;
}
nav a{
	background-color: #4CAF50;
	color: white;
	padding: 35px;
	display: block;
	float: left;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font-size: 0;
}
img {
	height: 200px;
	width: 150px;
}
.controls {
	text-align: center;
}
button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 1em;
}
.score {
	font-size: 20px;
	font-weight: 800;
}




